<div id="footer">
	<hr class="my-4">
	<p>
		<i class="fas fa-bug"></i>
		<b>Found a bug?</b> 
		<br />Please let me know and send me an email:
		<a href="mailto:incoming+felixtaylor-ddcharacterweb-11831191-issue-@incoming.gitlab.com?">issue@opencharacter</a>
	</p>
</div>