<nav class="navbar navbar-dark bg-dark sticky-top">
	<a class="navbar-brand" href="index">
	  	<i class="fas fa-scroll" id="scroll"></i>
	    <b>Open Character</b>
  	</a>
  	<span>
	  	<a href="changelog">
	  		<span class="badge badge-primary">ver-0.2.0</span>
		</a>
  	</span>
</nav>