<div class="row">
	<div class="col-sm-12">
		<table class="table">
   			<tbody>
   				<thead class="thead-dark">
					<tr>
						<th>Lore</th>
					</tr>
				</thead>
				<tr>
					<td>
						<textarea class="form-control" id="char-lore" rows="4"></textarea>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>