#strength, #dexterity, #constitution, #intelligence, #wisdom, #charisma, #level {
	max-width: 8rem;
}

input[type="number"], select, .select-random, .align-right, #level, .form-check-input, .floatRight {
	float: right;
  	clear: both;
}

.fas {
	padding-right: 1rem;	
}

#generation-info-icon{
	font-size: 1.5rem;
}

/* INDEX */
#welcome-container {
	padding-top:2rem;
}

/* CHARACTER SHEET */
.item-label{
	margin-top: -0.5rem;
	border-top: 1px solid #c1c1c1;
}

/* HEADER */
.navbar {
	margin-bottom: 1rem;
}

/* FOOTER */
#footer {
	padding-top: 2rem;
}